# SMTP Configuration
SMTP_HOST="smtp.example.com"        
SMTP_PORT=587                       # 465 for SMTPS, 587 for STARTTLS (common)
SMTP_SECURE=false                   # true for port 465, otherwise usually false
SMTP_USER="your_smtp_username"      # often your SMTP login / email
SMTP_PASS="your_smtp_password"     
SMTP_FROM="no-reply@example.com"    # email address shown as sender

# Contact Email
CONTACT_TO="contact@yourdomain.com" # destination for contact form + ticket admin notifications

# OpenAI Configuration
OPENAI_API_KEY=""                   
OPENAI_MODEL="gpt-4o-realtime-preview"  # set to your preferred model
OPENAI_AUDIO_TRANSCRIPTION_MODEL="gpt-4o-mini-transcribe"
OPENAI_API_URL="https://api.openai.com/v1/realtime/sessions"

# Next.js Public Environment Variables
NEXT_PUBLIC_OPENAI_MODEL="gpt-4o-realtime-preview" 
NEXT_PUBLIC_OPENAI_AUDIO_TRANSCRIPTION_MODEL="gpt-4o-mini-transcribe"

# Server Configuration
HOSTNAME="0.0.0.0"
PORT=3000
NODE_ENV="development"

# TLS Configuration
TLS_PEM_PATH="public/wss.pem"
TLS_KEY_PATH="public/wss.pem"
TLS_CERT_PATH="public/wss.pem"

